/**************************** Types ******************************************/
h1{
  font-family: 'segoeuil',monospace;
}

h2{
  font-family: 'segoeuil',monospace;
}

h3{
  font-family: 'segoeuil',monospace;
}

h4{
  font-family: 'segoeuil',monospace;
}

h5{
  font-family: 'segoeuil',monospace;
}

h6{
  font-family: 'segoeuil',monospace;
}

a {
  font-family: 'segoeui',monospace;
  text-decoration: none;
}

input {
  border: none;
  width:100%;
  background: #f2f2f2;
	outline: inherit;
  outline-color: blue;
  padding-top: 0;
  font-size: 200%;
  font-family: 'segoeui',monospace;
	}

button {
  text-align: center;
 	display: left;
  object-fit: fill;
}

/********************* Classes ************************************************/

/** HEADER **/
.cabeca{
  font-family: 'segoeui',monospace;
  background-color: #056AD3;
  width: 12.5%;
  margin: 1.25% 1.25% 1.25% 1.25%;
  display: inline;
}

.cabeca a{
  font-size: 120%;
  margin: 1.25% 1.25% 1.25% 1.25%;
}

/** Geral**/
.container {
  border: none;
  box-sizing: border-box;
  display: block;
  margin: none;
  object-fit: contain;
  padding: none;
  position: relative;
}

/** Note **/
.note {
  font-family: 'segoeui',monospace;
  min-height: 820px;
  min-width: 720px;
  background-image: url("../img/ballpen.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  object-fit: fill;
  filter:brightness(50%);
}

.bottom-left{
  font-family: 'segoeui',monospace;
  position:absolute;
  bottom:30%;
  left: 5%;
}

.bottom-left h1{
  font-size: 500%
}

.bottom-left h4{
  font-size: 200%
}

.btn2{
  font-family: 'segoeuil',monospace;
  font-size: 300%;
  width: 40%;
  border:none;
  background-color: #04AFEB;
  color: #FFFFFF;
}

/** Resume **/
.resume{
  font-family: 'segoeui',monospace;
  text-align: center;
  font-size: 20px;
  color:grey;
}

.resume h4{
  padding-left: 10%;
  padding-right: 10%;
  font-size: 150%;
}

/** Target **/
.targets {
  font-family: 'segoeui', monospace;
  background-color: #FFFFFF;
  color: #FFFFFF;
  text-align: center;
}

.targets h4{
  font-size: 200%;
}

.targets a{
  font-size: 300%;
  text-align: center;
}

.targets h4{
  font-size: 200%;
}

.targets img{
  position: relative;
  float: left;
  height: 64px;
  width: 64px;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 1%;
}

.targets table {
  border: solid white;
  border-width: thick;
  margin-left: 7.5%;
  margin-right: 7.5%;
  -webkit-border-horizontal-spacing: 40px;
  -webkit-border-vertical-spacing: 20px;
}

.targets td {
  padding: 10px;
  text-align: left;
}


/** Services **/

.columnsrv{
  text-align: center;
  padding: 3%;
}

.columnsrv td tr{
  text-align: center;
  align:center;
  align-items: center;
  align-content: center;
}

.columnsrv table{
  align:center;
  align-items: center;
  align-content: center;
}

.btn3{
  font-family: 'segoeuib',monospace;
  font-size: 16px;
  height: 40px;
  width: 120px;
  background-color: transparent;
}

/** Comments **/
.comments{
  font-family: "segoeuil",monospace;
  display: contents;
  border: solid lightgray;
  border-width: medium;
}

.comments td{
  border: solid lightgray;
  border-width: thick;
}

.comments h2{
  font-size: 250%;
}

.comments h4{
  font-size: 150%;
}

/** Workwithus **/
.wwus{
  min-height: 200px;
  font-family: 'segoeui',monospace;
  color: #FFFFFF;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../img/achievementdark.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%;
  font-size: 200%;
}

/** Faleconosco **/
.fcnsc{
  display: block;
  background-color: lightgray;
  left: 25%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.fcnsc h4{
  color:gray;
  font-size: 150%;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 5%;
}

.fcnsc button{
  font-family: 'segoeuib', monospace;
  text-align: center;
  color:#FFFFFF;
  background-color: blue;
  border: none;
  font-size: 200%;
  width: 100%;
}
/** Sobrenos **/

/** Copyright **/

/******************************** Fonts **************************************/

@font-face {
  font-family: segoeui;
  font-weight: normal;
  src: url('../font/segoeui.ttf');
}

@font-face {
  font-family: segoeuib;
  font-weight: bold;
  src: url('../font/segoeuib.ttf');
}

@font-face {
  font-family: segoeuil;
  font-weight: lighter;
  src: url('../font/segoeuil.ttf');
}

/** HEADER **/
/**header color 074AE0 **/
/** header button  040C71**/

.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 22px 15px 21px;
}
@media only screen and (min-width: 768px) {
  #main-menu.navbar-default {
    background: rgba(5, 106, 211, 1);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  }
  #main-menu.navbar-default .navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #main-menu.navbar-default .navbar-nav > li.active > a,
  #main-menu.navbar-default .navbar-nav > li.open > a,
  #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
    padding-top: 37px;
    border-top: 3px solid #45aed6;
}
