/**************************** Types ******************************************/
h1{
  font-family: 'segoeuil',monospace;
}

h2{
  font-family: 'segoeuil',monospace;
}

h3{
  font-family: 'segoeuil',monospace;
}

h4{
  font-family: 'segoeuil',monospace;
}

h5{
  font-family: 'segoeuil',monospace;
}

h6{
  font-family: 'segoeuil',monospace;
}

a {
  font-family: 'segoeui',monospace;
  text-decoration: none;
}

input {
  border: none;
  width:85%;
  height: 40px;
  background: #f2f2f2;
	outline: inherit;
  outline-color: blue;
  padding-top: 0;
  font-size: 26px;
  font-family: 'segoeui',monospace;
	}

button {
  text-align: center;
 	display: left;
}

/********************* Classes ************************************************/

/** HEADER **/
.cabeca{
  font-family: 'segoeui',monospace;
  background-color: #056AD3;
  width: 12.5%;
  margin: 1.25% 1.25% 1.25% 1.25%;
  display: inline;
}

/** Geral**/
  .container {
  border: none;

  box-sizing: border-box;

  display: block;

  margin: none;

  object-fit: contain;

  padding: none;
  position: relative;
}

/** Note **/
.note {
  font-family: 'segoeui',monospace;
  min-height: 820px;
  min-width: 720px;
  height: ;
  width:;
  background-image: url("../img/ballpen.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  object-fit: fill;
  filter:brightness(50%);
}

.bottom-left{
  font-family: 'segoeui',monospace;
  position:absolute;
  bottom:20%;
  left: 5%;
}

.btn2{
  font-family: 'segoeuib',monospace;
  font-size: 16px;
  height: 40px;
  width: 120px;
  border:none;
  background-color: #04AFEB;
  color: #FFFFFF;
}

/** Resume **/
.resume{
  font-family: 'segoeui',monospace;
  text-align: center;
  font-size: 20px;
  color:grey;
}

/** Target **/
.targets {
  font-family: 'segoeui', monospace;
  background-color: #FFFFFF;
  color: #FFFFFF;
}

.targets img{
  position: relative;
  float: left;
  height: 64px;
  width: 64px;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 1%;
}

.targets table, td, tr {
  border: solid white;
  border-width: thick;
}

.targets th, td {
  padding: 10px;
}

/** Services **/

.columnsrv{
  text-align: center;
  padding: 3%;
}

.btn3{
  font-family: 'segoeuib',monospace;
  font-size: 16px;
  height: 40px;
  width: 120px;
  background-color: transparent;
}

/** Comments **/
.comments{
  font-family: "segoeuil",monospace;
  display: contents;
  border: solid gray;
  border-width: thick;
}

.comments td{
  border: solid gray;
  border-width: thick;
}

/** Workwithus **/
.wwus{
  font-family: 'segoeui',monospace;
  min-height: 376px;
  min-width: 720px;
  background-image: url("../img/achievement.png");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: fill;
  filter:brightness(50%);
}
.wwuscenter{
  font-family: 'segoeui',monospace;
  font-size: 26px;
  position:absolute;
  bottom:20%;
  left: 25%;
  text-align: center;
}

/** Faleconosco **/
.fcnsc{
  display: block;
  padding-left: 5%;
  background-color: lightblue;
  width: 50%;
  left: 25%;
}

.fcnsc h4{
  color:gray;
  padding-bottom: 0;
  border: none;
}

.fcnsc button{
  font-family: 'segoeuib', monospace;
  text-align: center;
  color:#FFFFFF;
  background-color: blue;
  border: none;
  font-size: 26px;
  width: 85%;
  height: 40px;
}
/** Sobrenos **/

/** Copyright **/

/******************************** Fonts **************************************/

@font-face {
  font-family: segoeui;
  font-weight: normal;
  src: url('../font/segoeui.ttf');
}

@font-face {
  font-family: segoeuib;
  font-weight: bold;
  src: url('../font/segoeuib.ttf');
}

@font-face {
  font-family: segoeuil;
  font-weight: lighter;
  src: url('../font/segoeuil.ttf');
}

/** HEADER **/
/**header color 074AE0 **/
/** header button  040C71**/

.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 22px 15px 21px;
}
@media only screen and (min-width: 768px) {
  #main-menu.navbar-default {
    background: rgba(5, 106, 211, 1);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  }
  #main-menu.navbar-default .navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #main-menu.navbar-default .navbar-nav > li.active > a,
  #main-menu.navbar-default .navbar-nav > li.open > a,
  #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
    padding-top: 37px;
    border-top: 3px solid #45aed6;
}
